// Font import
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');

// Temp. dev styles
#dpjs_datepicker {
  position: absolute;
  display: none;;
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  transition: 0.5s linear;
  opacity: 0;
  z-index: 2147483647; // Highest possible value of z-index

  .dpjs_selectors {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;

    .dpjs_selectWrapper {
      display: flex;

      select {
        display: none;
      }

      .dpjs_pseudoSelect {
        width: 100px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 5px;
        position: relative;
        cursor: pointer;

        .dpjs_pseudoSelectValue {
          display: flex;
          height: 100%;
          align-items: center;
          padding: 0 20px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            right: 10px;
            border-top: 5px solid #444;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: none;
          }
        }

        .dpjs_pseudoSelectList {
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 31px;
          left: -1px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: #fff;
          box-shadow: 0 5px 10px #ccc;
          border-top: none;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          height: 0;
          overflow-y: scroll;
          z-index: 99;
          transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);

          &::-webkit-scrollbar {
            width: 6px;
            background: #ddd;
          }
          
          &::-webkit-scrollbar-thumb {
            background: #bbb;
            border-radius: 20px;
            transition: 0.3s linear;
        
            &:hover {
              background: #aaa;
            }
          }

          li {
            width: 100%;
            text-align: center;
            padding: 5px 0;
            border-top: 1px solid #eee;
            cursor: pointer;
            transition: 0.3s linear;

            &:first-of-type {
              border-top: none;
            }

            &:hover {
              background: #eee;
            }
          }
        }
      }
    }
  }

  #dpjs_dates {
    transition: 0.5s linear;
  }

  #dpjs_days, .dpjs_datesList {
    display: flex;

    p {
      width: calc(500px/7 - 10px);
      text-align: center;
      margin: 0 5px;
      padding: 5px 10px;
      cursor: pointer;
    }
  }

  .dpjs_datesList {
    margin: 5px 0;
    p {
      border: 1px solid transparent;
      border-radius: 5px;
      transition: 0.3s linear;
      &:hover {
        border: 1px solid #ccc;
      }
    }

    .dpjs_emptyDateSlot {
      background: #eee;

      &:hover {
        border: 1px solid transparent;
      }
    }
  }
}


// Production styles